*{
    margin: 0;
    padding: 0awwwwwww;
}

.container{
    background-color:  #334155;
    width: 1000px;
    height: 650px ;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;

}
.header1{
   
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    margin-left: 120px;
}
.header2{
   
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    margin-left: 120px;
}
.header3{
   
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    margin-left: 120px;
    
}
.header4{
   
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    margin-left: 120px;
}
img{
    height: 150px;
    margin-bottom: 250px;
    border:3px solid  orangered;
    margin-left: 150px;
}
.middle{
    background-color: black;
    border-radius: 20px;
    display: flex;
     margin-top: auto;

    justify-content: center;
    align-items: center;
    font-size: larger;
    
    
    width: 150px;
    height: 80px;

    
    

}
h2{
    color: white;
}
.pre1{
    background-color: red;
    width: 350px;
    height: 200px;
    border-radius: 15px;
    margin-left: 150px;
}
.pre2{
    background-color: red;
    width: 350px;
    height: 200px;
    border-radius: 15px;
    
}
.last{
    background-color: lightgreen;
    width:250px ;
    height: 150px;
    text-align: center;

}
